@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

:root {
    --font-std: 'Sriracha', cursive;
    --font-emp: 'Passion One', cursive;
    --font-aut: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font: var(--font-aut);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px 0px 0px 0px;
    font-variant: small-caps;
    font-family: var(--font-emp);
}

header > p {
    padding: 0px 0px 50px 0px;
    font-family: var(--font-aut);
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
}

section.whitewall {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.image > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}